<h1>Steam Games List</h1>
<label for="game_search"></label>
<input type="text" name="game_search" id="search">
<button onclick="gameSearch()">Search</button>
<button onclick="getGames()">Load Games</button>
<div id="gamesList"></div>





<script src="/js/game.js"></script>