<h1>Steam Games List</h1>
<link rel="stylesheet" href="./css/games.css">

<label for="game_search">Name</label>
<input type="text" name="game_search" id="search">
<button onclick="gameSearch()">Search</button>

<button onclick="getGames()">Load Games</button>
<hr>
<div id="edit-area"></div>


<div id="gamesList"></div>





<script src="/js/game.js"></script>